

body {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: overlay;
  overflow-x: hidden;

}
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  opacity: 1;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}
::selection {
  background: #000;
  color: #fff;
}
a {
  color: #006e54;
  text-decoration: none;
  word-wrap:break-word;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

/*---------------------------------------------------------------*/

.title_img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.main_content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}
/*---------------------------------------------------------------*/

.catchcopy {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 5vh;
  font-family: 'Zen Antique Soft', serif;
  font-weight: 100;
}
.catchcopy_text {
  color:white;
  text-align: center;
  position: absolute;
  top: 20vh;

  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  left: 45vw;
  right: 45vw;
}
.bg_img {
  width:100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: -10vh;
}
.bg_img img {
  height: 100%;
}
.text {
  height: 100%;
  margin: auto;
  font-size: 8vh;
  font-family: 'Zen Antique Soft', serif;
  font-weight: 300;
  margin-top: 50px;
  margin-left: 80px;
}

.text-section {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 3vh;
  margin-top: 0;
}
.reference-list {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 1.8vh;
  width: 80vw;
  margin: 0;
  margin-left: 10vw;
  margin-bottom: 5vh;
}
.reference-url {
  margin: 0;
  line-height: 2em;
}
.content {
  display: flex;
  align-items: stretch;
}
/*---------------------------------------------------------------*/

section h2 {
  padding: 8vh 2vw 0 2vw;
  margin: auto;
  margin-bottom: 8vh;
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-weight: 200;
  font-size: 5vh;
  width: fit-content;
  padding-bottom: 1vh;
  background:url("nami.jpg") bottom repeat-x;
  background-size: 30vh;
}

/*---------------------------------------------------------------*/

section img {
  width: 40vw;
  margin-left: 5vw;

}
.explanation {
  width: 45vw;
  margin-right: 5vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.content {
  margin-top: 50px;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}
section:nth-child(2) .contents_img {
  width: 30vw;
  margin-left: 7.5vw;
}
section:nth-child(2) .explanation {
  margin-left: 15vw;
}

section:nth-child(3) .explanation {
  width: 80vw;
  margin-left: 10vw;
}
.contents_img {
  height: auto;
  justify-content: center;
}

/*---------------------------------------------------------------*/
/*
#stalker {
  pointer-events: none;
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  transform: translate(0,0);
  transition: transform 0.15s;
  transition-timing-function: ease-out;
  z-index: 99;
  transform: scale(2, 2);
  display: none;
}
*/
/*---------------------------------------------------------------*/

#loading-wave {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height:100vh;
  animation-name: wave-1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transform: translateX(-80vw);
}
#loading-wave:nth-child(odd) {
  animation-name: wave-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform: translateX(0);
}
#loading {
  background-color: #fff;
  width: 100vw;
  height: 100vh;

  visibility: visible;
}
.load-text {
  margin-top: 50vh;
  font-size: 30px;
  text-align: center;
  font-family: serif;
}
@keyframes wave-1 {
  0% {
    transform: translateX(-80vw);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80vw);
  }
}
@keyframes wave-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(0);
  }
}

/*---------------------------------------------------------------*/


footer p {
  color: #c0c0c0;
  z-index: 999;
  text-align: center;
  background-color: #000;
  margin: 0;
  padding: 10px;
}

/*---------------------------------------------------------------*/

.pagetop{
  display: none;
  position: fixed;
  right: 50px;
  bottom: 60px;
}
.pagetop a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #404040;
  border-radius: 50%;
  line-height: 50px;
}
.pagetop a i{
  font-size: 20px;
  color:#fff;
  line-height: 50px;
}


@media screen and (max-width: 767px) {
  section h2 {
    font-size: 7vw;
    background-size: 20vh;
  }
  .explanation {
    display: block;
    margin: 5vw;
  }
  section:nth-child(2) .explanation {
    margin: 5vw;
  }
  section:nth-child(3) .explanation {
    width: 90vw;
    margin: 5vw;
  }
  .content {
    display: block;
  }
  section:nth-child(2) .contents_img {
    width: 90vw;
    margin: 5vw;
  }
  .content img {
    width: 90vw;
  }
  .text-section {
    width: 90vw;
    font-size: 4.5vw;
    letter-spacing: 0.1em;
    line-height: 1.6em;
  }
  .pagetop {
    display: none !important;
  }
  .stalker {
    display: none !important;
  }
}

/*----------------------------------------------------------------*/
li {
  display: inline-block;
  padding-left: 2vw;
  font-family: 'Yuji Syuku', serif;
  cursor: pointer;
}
header img {
  width: 6vh;
  height: 6vh;
  padding: 2vh;
  padding-left: 5vh;
}
header h1 {
  margin: 0;
  height: 10vh;
  line-height:10vh;
  padding-left: 1.5vw;
  font-family: 'Zen Antique Soft', serif;
  font-weight:200;
  color: #fff;
}
nav {
  margin: 0 5vw 0 auto;
  font-size: 2vh;
  color: #fff;
}
header {
  display: flex;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 50;
  color: white;
  transition: background-color 500ms 0s ease;
}